html {
    scroll-behavior: smooth;
  }
  

body{
    margin: 0%;
    padding: 0%;
}
p{
    text-align: left;
}
a{
    text-decoration: none !important;
    color: black !important;
}

#pos{
    position: sticky;
    top: 0px;
    display: none;
 z-index: 6;
    
}

/* navbaar */




/* navbar css  */

/* section 1 css */
.main_1{
    background-color: #fff;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
flex-direction: row;
height: 100px;
margin-top: 20px;
position: sticky;
top: 0px;
z-index: 3;
}

.main_1>a>div{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}


#main_1link:active{

color: green;

}


@media screen and (max-width: 680px) {
   .main_1{
       display: none;
   }
   #pos{
       display: block;
   }
  }


/* sefction 2 css */
#sheduleCall{
    width: 100%;
}

.main_2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: yellow; */
}
.main_2_heading{
    width: 80%;
    text-align: center;
    margin-top: 100px;
}
.style_p{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}
.seduleButton{
    background-color:yellow;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    margin-top: 30px;
    border: none;
}
.seduleButton:active{
    color: yellow;

    background-color: white;
    border: 2px solid yellow;
}
.main2_our{
    /* position: absolute; */
    margin-top: 100px;
    font-size: 40px;
    z-index: 2;
}
#main_2_svg{
    width: 100%;
    height: 300px;
    background-image: url('/assest/images/code.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#quet_cont{
    width: 250px;
}

@media screen and (max-width: 1180px) {
    #quet_cont{
        margin-top: -90px;
     }
   }
   @media screen and (max-width: 905px) {
    #quet_cont{
        margin-top: -150px;
        width: 180px;
        height: 90px;
     }
   }
   @media screen and (max-width: 695px) {
    #quet_cont{
        margin-top: -230px;
        width: 140px;
        height: 70px;
        /* border-radius: 100%; */
     }
   }
   @media screen and (max-width: 405px) {
    #quet_cont{
        margin-top: -245px;
        width: 130px;
        height: 50px;
     }
   }
/* section no 2 how it works */
.main_3{
    background-color: rgb(248, 247, 247);
    width: 100%;
    min-height: 300px;
    margin-top: -300px;
    padding-top: 30px;
}




#musicalId{
    width: 100%;
    background-image: url('/assest/images/guitar.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    /* background-position: center; */
    background-color: blanchedalmond;
    /* min-height: 500px; */
    height: max-content;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    padding-top: 100px;
    flex-wrap: wrap;

}


#steveMusic{
    width: 400px;
    margin-top: 150px;
    padding-bottom: 30px;
    cursor: pointer;

}
@media screen and (max-width: 1288px) {

    #steveMusic{
        width: 300px;
        margin-top: 150px;
    }
    #musicalId{
        margin-top: -15px;
    }

   }
   @media screen and (max-width: 900px) {

    #steveMusic{
        margin-top: 70px;
    }
   

   }



   @media screen and (max-width: 690px) {

    #steveMusic{
        width: 150px;
        margin-top: 20px;
    }
    #musicalId{
        margin-top: -25px;
        
    }

   }

   @media screen and (max-width: 504px) {

  
    #musicalId{
        height: 450px;
        background-size: 100% 100%;
    }
    

   }
.stSt{
    color: white;
    font-size: 19px;
    
}




.img_back{
    background-image: url('/assest/images/dron.jpg');
    /* min-height: 400px; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
display: flex;
align-items: center;
justify-content: space-around;
background-color: yellowgreen;
padding: 50px;
flex-wrap: wrap;

}
.main_img_2{
    width: 400px;
    cursor: pointer;
}


.img_back_para{

    color: #000;
    font-size: 19px;
    text-align: end;
}




@media screen and (max-width: 795px) {
    .main_img_2{
        width: 150px;
    }
  
    .img_back{
        height: 400px;
        background-size: 100% 100%;
    }
 

   }












   


.img_back1{
    background-image: url('/assest/images/laptopuses.jpg');
    /* min-height: 400px; */
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
display: flex;
align-items: center;
justify-content: space-around;
background-color: yellowgreen;
padding: 50px;
flex-wrap: wrap;

}

.img_back_para1{

    color: rgb(206, 202, 202);
    font-size: 19px;
    text-align: start;
}




@media screen and (max-width: 795px) {
   
  
    .img_back1{
        height: 400px;
        background-size: 100% 100%;
    }
 








    
   }








   
.img_back2{
    background-image: url('/assest/images/vectorblue.jpg');
    min-height: 450px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
display: flex;
align-items: center;
justify-content: space-around;
background-color: yellowgreen;
padding: 40px;
flex-wrap: wrap;
}

.img_back_para2{

    color: rgb(206, 202, 202);
    font-size: 19px;
    text-align: end;
}




@media screen and (max-width: 795px) {
   
  
    .img_back2{
        height: 500px;
        background-size: 100% 100%;
    }
 

   }



   .main_Anker{
       color: white !important;
       text-decoration: underline !important; 
   }



   /* our services section html css */
   .div {
    display: block;
    position: relative;
    top: -2px;
    height: 177px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1366 177" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(47, 73, 94, 1)" d="M 0 155 C 199.2 155 464.8 90 664 90 L 664 90 L 664 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 663 90 C 672.3 90 684.7 90 694 90 L 694 90 L 694 0 L 663 0 Z" stroke-width="0"></path> <path fill="rgba(47, 73, 94, 1)" d="M 693 90 C 894.9 90 1164.1 155 1366 155 L 1366 155 L 1366 0 L 693 0 Z" stroke-width="0"></path></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg) rotateY(180deg);

   }
   
   @media (max-width:1365px) {
    .div {
      background-size: contain;
    }
   }
   


   .service_svg{
       margin-top: -200px;
   }

   .our_services{

       width: 290px;
       /* background-color: black; */
   }
   @media (max-width:865px) {
    .our_services{
        width: 200px;

    }
   }

   .our_serviceS{
       width: 60%;
       margin-top: 30px;
       text-align: center;
font-family:  'Open Sans', 'Regular';
font-size: 18px;
   }



    
   @media (max-width:467px) {
    .our_serviceS{
        
    width: 290px;
    
    }
   }


   .mainService_Div{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-direction: row;
       flex-wrap: wrap;
       margin-bottom: 100px;
       
   }


   .service_div{
       width: 290px;
       margin: 10px;
       height: 200px;
       /* background-color: yellow; */
       /* position: absolute; */
       margin-bottom: 50px;
   }
   .proce{
       height: 35px;
       width: 150px;
       font-size: 18px;
       border-radius: 6px;
       font-family: 'Open Sans', 'Regular';
       color: white;
       background-color: #169B00;
       border:none;
       
   }
   .proce1{
    height: 35px;
    width: 150px;
    font-size: 18px;
    border-radius: 6px;
    font-family: 'Open Sans', 'Regular';
    color: white;
    background-color: #169B00;
    border:none;
    margin-top: 43px;
   }


   .main_hWork{
       width: 100%;
       min-height: 300px;
       background-color: #005498;
       padding:50px;
       padding-top: 100px;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
   }


   .hWork_h2{
       color: white;
       font-family:'Armia Madurai', 'Bold';
   }


   .main_secter{
       /* margin-top: 50px; */
       width:100%;
    display: flex;
align-items: center;
justify-content: space-around;
flex-direction: row;
flex-wrap: wrap;  
 }



.hwork_main{
    max-width: 400px;
   min-width: 300px !important;
   
    height: 400px;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

@media (max-width:467px) {
  .swec_cont{
      margin-top: -50px;
  }
   }

.mainSector{
    background-color: #169B00;
    color: white;
    height: 40px;
    padding: 20px;
    /* margin: 15px; */
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sectMai{
    font-size: 20px;
    color: white;
    font-family: 'Open Sans';
    margin-top: 30px;
}



/* last 2nd section */
.ClientMAin{
    width: 90%;
    /* background-color: #80802b; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-left: 5%;

}
.mainHEading{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    /* margin-top: 100px; */
}
.brand-img{
    width: 250px;
    margin-top: 50px;
    margin: 30px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    /* margin-left: 85px; */
}


@media (max-width:467px) {
    .swec_cont{
        margin-top: -50px;
    }
     }
  




     /* footer css */


     .footer{
         padding: 30px;
         font-size: 13px;
     }